snippet cout
std::cout << $1 << std::endl;
endsnippet

snippet cin
std::cin >> $1 >> std::endl;
endsnippet

snippet lli "long long int" bA
long long int $0;
endsnippet

snippet std "std::" A
std::$0
endsnippet

