acm.math.spbu.ru

CSS
@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap');

FORM, BODY, body.subm, table, FORM.frm INPUT.submb, form.frm input.submb, a, input, select, input.sm {
    font-size: 12pt;
    font-family:'Bubblegum Sans', cursive;
    background-color: #262626;
    color: #eee;
}

a, input, select, input.sm{
    display: inline-block;
    text-decoration: none;
    margin: 1px 1px;
    padding: 5px 5px;
    border: 2px solid #5faf00;
    border-radius: 10px;
    color: #eee;
}

form.frm select, FORM.frm INPUT.sm {
    height: 25pt;
}

select[name="lang"] option[value="14"], option[value="13"], option[value="12"] {
    color: #5faf00;
}

FORM.frm INPUT.submb, form.frm input.submb {
    background-color: #af0000;
    border-color: #af0000;
    border: 0px;
    border-radius: 4px;
    color: #000;
    width: 100px;
}

input[type="SUBMIT"] {
    height: 25px;
    padding: 0px 5px;
    border-radius: 0px;
}

hr {
    visibility: hidden;
}
